
* {
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
}

body{
    background-image:url(https://cdn.pixabay.com/photo/2021/06/03/01/38/spices-6305695_1280.jpg);
    background-size:cover;
    margin-left: 60px;
    margin-right: 60px;
    }
    

#background {
        opacity: 0.2;
    }
.container{
    text-align: center;
    margin-bottom: 25px;
}

button{
    background-color: transparent;
    border-style: groove;
    border-color: rgb(212, 232, 232);
    box-shadow: 10px 10px 65px 9px rgb(8, 8, 8);
    border-radius: 10px;
}

button:active{
    transform: translateY(.1em)
}

h1{
    font-size: 64px;
}

.recipe{
display:grid;
grid-template-columns: 25% 25% 50%; 
grid-template-rows: auto; 
gap: 0px 0px; 
grid-template-areas: 
". ."; 
box-shadow: 10px 10px 65px 9px rgb(8, 8, 8);
border-radius: 10px;
}

h2{
    font-size: 24px;
    text-align: center;
}

img {
    border-radius: 400px;
    width: 300px;
    height: 300px;
    box-shadow: 2px 2px 20px 7px rgb(8, 8, 8);
}

ul{
    list-style: none;
}

li{
    margin-bottom: 4px;
    
}

#instructions{
    text-align:left ;

}

/* something to commit while playing around with git terminal */